<div id="page6">
			<div id="step_right">
			<img src="images/steps/step6.png" />

			<p class="description"> You can select the default wallpaper for your custom version of the pardus live CD by clicking on the image. You can also upload a wallpaper that you would love and choose it </p>
			<p class="description_title">Select the default wallpaper</p>
			
	<div class="scrollable">

	
	<!-- root element for the items -->
	<div id="wallpaper_items" class="items">
		{% for wallpaper in wallpapers %}
		<div class="wallpaper" ><img style="cursor:pointer;" src="{{ wallpaper }}" /></div>
		{% endfor %}
	</div>

	
</div>



			</div>
			<br class="spacing">
			<br class="spacing">
			
			<table>
			<tr><td><label class="content_label">Upload</label></td> 
			<td>
			<form method="post" enctype="multipart/form-data">
			
			
			
			
			<input id="wallpaperfile" class="content_input" type="file" name="wallpaper_file" />
			</form></td> 
			<td><a href="#" onclick='wallpaper_upload()' ><img style="color:transparent"  src="images/button.png"></a></td></tr>
			</table>
			<br class="spacing">
			<div id="wallpapertext" class="content_text"></div>
			<br class="spacing">
			<div id="nextprev">
			<a href="#"><img onclick="load_step5();" src="images/back.png" /></a>
			<a href="#"><img onclick="load_step7();" src="images/next.png" /></a>
			</div>

			</div>
</div>

