<div id="page4">
			<div id="step_right">
			<img src="images/steps/step4.png" />

			<p class="description"> Upload the required RELEASE files to be appeared in the CD Rom / Image directory. <br> Also you can upload Home folder contents. Home folder contents should be uploaded either as zip, tar.gz, bz2. This step is optional. </p>
			<p class="description_title">Upload RELEASE File and Home directory data</p>

			<table>

			<tr><td><label class="content_label">RELEASE File &nbsp; &nbsp;</label></td> 
			<td><form  action="upload_release" method="post" enctype="multipart/form-data">

			     <input id="releasefile" class="content_input" type="file" name="release_file" /> 
			     </form> </td>
			<td><a href="#" onclick="release_upload();" title='upload' ><img style="color:transparent"  src="images/button.png"></a></td></tr>
			<tr><td><label class="content_label">Home Directory</label></td>
			<td><form method="post" enctype="multipart/form-data">
			    <input id="homefile" class="content_input" type="file" name="home_file" /> 
			    </form>
			    </td>
			<td><a href="#" onclick="home_upload();" title='upload' ><img style="color:transparent" src="images/button.png"></a></td></tr>

			</table>

			<br class="spacing" />
			<div class='content_text' id="releasetext"></div>
			<div class='content_text' id="uploadtext"></div>

			<br class="spacing" />
			<div id="nextprev">
			<a href="#"><img onclick="load_step3();" src="images/back.png" /></a>
			<a href="#"><img onclick="load_step5();" src="images/next.png" /></a>
			</div>

			</div>
			



</div>

