<div id="page4">
			<div id="step_right">
			<img src="images/steps/step4.png" />

			<p class="description"> Upload the required RELEASE files to be appeared in the CD Rom / Image directory. <br> Also you can upload Home folder contents. Home folder contents should be uploaded either as zip, tar.gz, bz2. This step is optional. </p>
			<p class="description_title">Upload RELEASE File and Home directory data</p>

			<form>
			<table>

			<tr><td><label class="content_label">RELEASE File &nbsp; &nbsp;</label></td> 
			<td><input class="content_input" type="text" name="username" /> </td> 
			<td><a href="#"><img style="color:transparent"  src="images/button.png"></a></td></tr>

			<tr><td><label class="content_label">Home Directory</label></td>
			<td><input class="content_input" type="password" name="password" /> </td>
			<td><a href="#"><img style="color:transparent" src="images/button.png"></a></td></tr>

			</table>

			<br class="spacing" />

			</form>

			<br class="spacing" />
			<div id="nextprev">
			<a href="#"><img onclick="load_step3();" src="images/back.png" /></a>
			<a href="#"><img onclick="load_step5();" src="images/next.png" /></a>
			</div>

			</div>
			



</div>

