<div id="page3">
			<div id="step_right">
			<img src="images/steps/step3.png" />

			<p class="description"> Select from the following list, the required language support for the customised distro</p>
			<p class="description_title">Select language(s)</p>

				<div id="lang_selector" class="list" >
				<div class="lang">US English</div>
				<div class="lang">Malayalam</div>
				<div class="lang">Hindi</div>
				<div class="lang">Tamil</div>
				</div>
				<div id="lang_chooser">
				<img onclick="addtolangSelectList();" src="images/lang_next.png">
				<img onclick="addtolangList();" src="images/lang_back.png">
				</div>
				<div id="lang_selector" class="selected_list" > </div>
				<p class="description" style="clear:both" >* Language in bold is the default one.</p>

			<div id="nextprev" style="clear:both">
			<a href="#"><img  onclick="load_step2();" src="images/back.png" /></a>
			<a href="#"><img onclick="load_step4();" src="images/next.png" /></a>
			</div>


			</div>
			


</div>

