<div id="page8">
			<br class="spacing">
			<img src="images/done_head.png">


			<p class="description">Now it will build a custom version of Pardus based on the configurations you have given in the configuration wizard. Have fun !</p>
			<br class="spacing"/>
			<img width="150px" src="images/loading.gif">
			<br class="spacing"/>
			<p class="description">This will take approximately <b>1 hour(s)</b> of time for completion. You can leave this page and comeback after <b>1 hour(s)</b>  for downloading the image. <br class="spacing"/>
Don't forget to inform us what you have felt about and new ideas and suggestion. Happy Hacking !</p>

			
			<br class="spacing" />
			<div id="nextprev">
			<a href="#"><img onclick="#" src="images/finish.png" /></a>
			</div>

			</div>
			


</div>

