<div id="page0">

<div id="start_page_right">
			<br class="spacing" /><br class="spacing" /><br class="spacing" /><br class="spacing" />
			<p class="content_text"> Have you ever thought of a web service that creates a burnable custom version of GNU/Linux ? <br /> <br />Pardus Burn provides the ISO image of your custom Pardus. Just log in and enjoy the service. 		</p>
			<br />
			<form id="loginform" onsubmit="sign_in()";>
			
			<div style="margin-left:80px">
			<table>
			<tr><td ><label class="content_label">User Name </label></td>
			<td><input class="content_input" type="text" name="username" /></td></tr>

			<tr><td ><label class="content_label">Password </label></td>
			<td><input class="content_input" type="password" name="password" /></td></tr>
			</table>
			</div>

			<div id="content_links">

			<a href="javascript:sign_in();" >Sign in</a> | 
			<a href="#"> What was my password?</a> |
			<a href="#" onClick='$("#popup").show();'> Not registered yet?</a>
			</div>
			<p id='error' class="error_text" ></p>
			</form>

			</div> 

</div>

