
body
{

	background-image: url('images/background-strip.png') ;
	
}


#page {

	width : 800px;
	margin-left : auto;
	margin-right: auto;
	min-height : 100%;
	border : 2px solid black ;
	background-color : #f0e6af ;

} 

/* header Text items */
#header {
	margin-right:10px;
	height:15px;
	color:black;
	font-family:Arial;
	text-align:right;
	font-size:10px;
	text-decoration:none;
}

#header a{
	text-decoration:none;
	color:black;
	padding-right:10px;
}

#header a:hover{
	text-decoration:none;
	font-weight: bold;
}



/* header image items */
#headerimage {
	width : 800px;
	
	height : 128px;
	
	background-color:#ab370e;
	background-image : url('images/header.png') ;
}


/* containers */

#content {

	
	color:#ad3d14;
	clear:left;
}

.container_left {


	width:350px;
	text-align:center;
	float:left;	
	min-height:300px;
}


.container_right
{


	width:450px;
	text-align:center;
	float:left;	
	min-height:300px;


}

/* page left divs */

#start_page_left
{
	width:319px;
	height:398px;
	position:relative;
	background-image: url('images/tiger.png') ;
	background-repeat: no-repeat;
	bottom:-42px;
}

#step1_left
{
	padding-top:20px;
	min-height:400px;
	min-width:100%;
	position:relative;
	background-image: url('images/tiger_head.png');
	background-repeat: no-repeat;
	background-position: 30% 50%;


}

/* page right div */

#start_page_right
{
	min-height:400px;
	position:relative;
	background-image : url('images/burn_burn.png') ;
	background-repeat : no-repeat;
	background-position: 18% 10% ;
	color:#ad3d14;
	margin-left:-20px;
	padding-right:50px;

}

#step_right 
{


	position:relative;
	padding-top:70px;
	color:#ad3d14;
	text-align:left;

}

/* letters , hyperlinks classes */
#text1
{
	color:#ad3d14;
	font-family:Arial;
	font-size:20px;
}

text2
{

	color:#ad3d14;
	font-size:15px;
	text-decoration:none;

}


#text2 a
{
	color:#ad3d14;
	font-size:15px;
	text-decoration:none;
}
#text2 a:hover
{

	color:#473908;
	font-size:15px;
	text-decoration:none;

}


/* bit elements */

#button_div
{


	position:relative;
	min-width:10px;
	left:80px;
	float:left;
	text-align:left;

}




#label_div
{


	position:relative;
	padding-top:2px;
	min-width:120px;
	float:left;
	text-align:left;

}



#input_div
{


	position:relative;
	width:100px;
	left:10px;
	float:left;
	text-align:left;

}

#radio_label_div
{


	position:relative;
	min-width:180px;
	float:left;
	text-align:left;

}
#radio_div
{


	position:relative;
	width:100px;
	float:left;
	text-align:left;

}


p.description
{
	padding-left:30px;
	font-size:12px;;
	font-family:sans-serif;
	text-align:left;
	width:320px;
	position:relative;
	color:#ad3d14;

}

p.description_title
{
	position:relative;
	font-family:Arial;
	font-size:16px;
	padding-left:6px;
	text-align:left;
	color:#ad3d14;
}



p.error_text
{
	position:relative;
	font-size:11px;
	color:red;
	text-align:left;
	padding-left:15px;
}

.content_text 
{
	position:relative;
	font-size:11px;
	color:#ad3d14;
	text-align:left;
	padding-left:15px;
}

.content_title
{
	position:relative;
	font-family:Arial;
	font-size:20px;
	text-align:left;
	padding-top:100px;
	margin-bottom:-10px;
	padding-left:-10px;
	color:#ad3d14;
}

.content_label
{
	text-align:left;
        font-size:12px;
	font-family:sans-serif;
        color:#ad3d14;

}

.content_label_radio
{
	padding-left:40px;
	font-family:Arial;
        font-size:20px;
	font-weight:bold;
        width:300px;
        color:#ad3d14;
}

.spacing {
	margin-bottom:10px;
}

#nextprev {
	width:400px;
	text-align:right;
	border:none;
	text-decoration:none;
	position:relative;
}


#nextprev a{
	color:transparent;
}

#statusline
{
	color:#ad3d14;
	font-size:11px;
	position:relative;
	text-align:left;
	margin-left:150px;
	clear:left;
}

.content_input
{

        font-size:11px;
        color:black;
	border : 1px solid #ad3d14;
}



.input_radio
{
	background: url('images/step1.png') no-repeat;
	background-color:red;
	height:20px;
	width:20px;

}

#content_links
{
	margin-top:10px;
	color:#ad3d14;
	font-size:11px;
	position:relative;

}

#content_links a
{
	text-decoration:none;
	color:#ad3d14;
	font-size:11px;
}

#content_links a:hover
{
	color:#5e1d06;
}


/*  footer part   */
#footer {
	clear:left;
	background-color:#ddd4a3;
	width: 650px;
	margin-left:150px;

	height:40px;
	text-align:center;
}

#footer p {
	position:relative;
	top:-5px;
	font-size:9px;
	color:#44433c;
}

#footer a{
	color:black;
	font-family:arial;
	font-size:10px;
	padding-right:10px;
	text-decoration:none;

}


#footer a:hover{
	text-decoration:none;
	font-weight: bold;
}





.tigerhead
{
	position:absolute;
	bottom:30px;
}


#popup
{
	width: 400px; 
	height: 200px;
	display:none;
	position: absolute;
	top: 260px;
	left: 600px;
	background-color:white;
	border: 2px solid black;
	background-image: url("images/popup_icon.png");
	background-repeat: no-repeat;
	background-position:8% 50%;

}


#popup_close 
{
	width:13px;
	height:13px;
	position:relative;
	cursor:pointer;
	background-color:gray;
	left:380px;
	text-align:center;
	top:5px;
	font-family:Arial;
	border: 1px solid black;'

}

#sign_up
{
	position:relative; 
	left:125px; 
	top:20px;
	color:black;
	font-size:12px;
	

}


input.submit
{

	color:white;
	background-color:gray;
	border:1px solid black;
	font-size:13px;
	cursor:pointer;
}

#lang_selector
{
	background-color:white;
	width:150px;
	border:1px solid black;
	float:left;
	position:relative;
	color:black;
	text-align:center;
	padding:16px;
	

}



.lang
{
	padding-left:4px;
	width:145px;
	cursor:pointer;
	text-align:left;
}

#lang_chooser
{

	width:50px;
	height:150px;
	float:left;
	padding-top:50px;
	position:relative;
	text-align:center;

}

#lang_chooser img
{
	cursor:pointer;
}

.default_lang
{
	font-weight:bold;
}

.highlighted
{
	border:2px dotted #f6ca30;
}


#loading
{
	width:220px; 
	height:19px;
	top:60%;
	left:60%;
	margin-left:-110px;
	background-image: url('images/ajax-loader.gif');
	background-repeat:no-repeat;
	display:none;
	position:absolute;
	clear:both;
}


#package_div
{
	width:300px;
	background-color:white;
	border: 1px solid #ad3d14;	
        color:black;
	padding:5px;
	max-height:400px;
	text-align:left;
	overflow-y:auto;
}

.border_left
{
	border-left: 1px solid #ad3d14;	

}

#package_div table
{
	border-spacing:0px;
	text-align:left;
	
}

#package_div table tr
{
	border-spacing:0px;
	padding:0px;
	margin:0px;
}

#package_div table td
{
	border-spacing:0px;
	padding:0px;
	margin:0px;
	
}

#pkg_padding
{
	margin-left:24px;
	padding:0px;

}


.hand
{
	cursor:pointer;
}

#pkgs
{
	padding:0px;
	font-size:14px;
	color:#332c2c;

}



.next
{
	cursor:pointer;
	width:180px;
	padding-top:13px;
	padding-left:3px;
	position:relative;
	text-align:left;
	float:left;
	color:black;
	font-size:11px;
}

.prev
{
	cursor:pointer;
	width:180px;
	padding-top:13px;
	padding-right:3px;
	color:black;
	position:relative;
	text-align:right;
	float:left;
	font-size:11px;
}


#userlog
{
	padding:10px;
	background-color:white;
	border: 1px solid black;
	height:200px;
	color:black;
	width:400px;
}

#userlog table tr th
{
	font-size:11px;
	text-align:center;
	border-bottom:1px solid gray;
	border-top:1px solid gray;


}
#userlog table tr td
{
	padding-left:15px;
	padding-right:10px;
	border-bottom:1px dotted gray;
	color:black;
	font-size:11px;

}

#userlog table tr td a
{
      color:grey;

}

#userlog table tr td a:hover
{
      color:#c1b5b5;

}




div.scrollable
{
	width:200px;
	background-color:white;
	border: 1px solid #ad3d14;	
        color:black;
	padding:5px;
	height:200px;
	overflow-x:auto;


}

div.wallpaper
{
  margin:5px;
  text-align:center;

  

}

div.wallpaper img
{
  border:1px solid black;


}

div.selected_wallpaper
{
  text-align:center;
  border:1px dotted grey;
  background-color:#eef1f6;


}
